{% load static %}
{% load crispy_forms_tags %}
{% load inventory_template_tags %}
{% get_media_prefix as MEDIA_URL %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{header}}</title>
    
    <!--Include All CSS Files-->
    {% include 'all_css_imports.html' %}
    <!--End Include All CSS Files-->

    <!--Current Time Script-->
    <script>
      var today = new Date();
    </script>
    <!--End Current Time Scripts-->

  </head>
  <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed" onload="realtimeClock()">

    <!--Wrapper-->
    <div class="wrapper">

      <!-- Navbar -->
      {% include 'header.html' %}
      <!-- /.navbar --> 


      <!--Body Content-->
      {% block body %}

      {% endblock %}
      <!-- End Body Content -->

    <!--Footer-->
    {% include 'footer.html' %}
    <!--End Footer-->

    </div>
    <!--End Wrapper-->

    <!--Inculde Javascript Files-->
      {% include 'all_js_imports.html' %}
    <!--End Include Javascript Files-->

    <script>
      {% for msg in messages %}
          Swal.fire(
          '{{msg}}',
          '',
          'success'
        );
      {% endfor %}
    </script>



  </body>

    <!--Include All Modals In POS Module-->
    {% include 'pos_modals.html' %}
    <!--End Include All Modals in POS Module-->

</html>