{%for batch_number in batch_numbers%}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>
        <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#batch_number_items{{batch_number.id}}"> {{ batch_number.batch_number}} 
        </a> 

        <div class="modal" tabindex="-1" role="dialog" id="batch_number_items{{batch_number.id}}">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    
                    <table class="table table-striped">
                        {% if stocks %}
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Item</th>
                            <th>Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-right">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for stock in stocks %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{stock.item}}</td>
                            <td>{{stock.batch}}</td>
                            <td class="text-center">{{ordered_item.quantity}}</td>
                            <td class="text-right">{{ordered_item.get_total_amount}}</td>
                          </tr>
                          {% endfor %}
                          
                          <tr>
                            <td colspan="4" class="font-w600 text-right">TAXABLE @({{config.TAX_NAME}}%)</td>
                            <td class="text-right bg-body-dark">{{paid_order.get_taxable_value}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="font-w600 text-right">VAT @({{config.TAX_NAME}}%)</td>
                            <td class="text-right bg-body-dark">{{paid_order.get_vat_value}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="font-w700 text-uppercase text-right bg-body-light">Total Due</td>
                            <td class="font-w700 text-right bg-body-dark" >{{paid_order.order_total_due}}</td>
                        </tr>
                          
                        </tbody>
                        {% else %}
                        <div>No Items in Order!</div>
                        {% endif %}
                  
                      </table>
        
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
    </td>
    <td>
      {{batch_number.description}}
    </td>
    <td>
      {{batch_number.created_at}}
    </td>
</tr>

{% endfor %}
