{% load crispy_forms_tags %}
<form method="post" data-url="{% url 'quotation_update' form.instance.id %}" class="update-form" >
	{% csrf_token %}
	<div class="modal-header bg-warning">
        <h4 class="modal-title">UPDATE QUOTATION STATUS</h4>
    </div>
	</div>
		<div class="modal-body">
		{{form|crispy}}
		{% for ordered_item in form.items.all %}
		<tr class="tr">
			<td class="td">{{forloop.counter}}</td>
		
			<td class="td">{{ordered_item.item}}</td>
			<td > <a href="{% url 'remove_single_item_from_cart_quotation' ordered_item.item.slug %}"> <span class="badge badge-warning badge-pill" >-</span> </a></td>
			<td class="td text-center">
				{{ordered_item.quantity}}
			</td>
			<td> <a href="{{ordered_item.item.get_add_to_cart_quotation_url}}"> <span class="badge badge-primary badge-pill">+</span></a> </td> 
			{% if ordered_item.item.discount_price %}
			  <td class="text-right td">
				  {{ordered_item.item.discount_price}}
			  </td>
			{% else %}
			  <td class="text-right td">
				 {{ordered_item.item.price}}
			  </td>
			{% endif %}
			<td class="td text-right">
				{{ordered_item.get_total_amount}}
			</td>
			<td class="text-center"><a href="{{ordered_item.item.get_remove_from_cart_quotation_url}}"> <span class="badge badge-danger badge-pill" >x</span></a></td>
		</tr>
		{%endfor%}
		</div>
		<div class="modal-footer block-content block-content-full text-right border-top">
		<button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Cancel Changes</button>
		<button type="submit" class="btn btn-sm btn-outline-danger"><i class="fa fa-check mr-1"></i>Save Changes</button>
		</div>
</form>