{% load static %}
<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center justify-content-start" style="font-size: x-large;">
  <a class="nav-item" href="{% url 'system_dashboard' %}">EPSILON BAR POS</a>  
  <div class="navbar-collapse collapse justify-content-between align-items-center">
      <ul class="navbar-nav mx-auto text-md-center text-left"> 
        
      </ul>
      <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap"> 
          <!--current time-->
          <li class="nav-item">
            <a class="nav-link" id="real_time"></a>
          </li>
          <!--end current time-->
          
      </ul>
        
  </div>
</nav>