{% extends 'base_pos.html' %}
{% load crispy_forms_tags %}

{% block body %}
  <style>
    .dashboard_menu_item{
      height: 175px;
    }
    #home_button{
      visibility: hidden;
    }
    #my_orders_button{
      visibility: hidden;
    }
  </style>
    <!-- Content Wrapper. Contains page content -->
    <div class="content ml-2 mr-2 mt-2" style="max-height: 500px;">
        <!-- Small Box (Stat card) -->
        <div class="row">
          {% if session_time.open_time and session_time.closing_time or  session_time == None %}
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <a href="{% url 'clock_in' %}">
              <div class="small-box bg-light dashboard_menu_item">
                <div class="inner text-secondary">
                  <p> <h3>Clock In<sup style="font-size: 20px"></sup></h3> </p>
                </div>
                <div class="icon">
                  <i class="far fa-clock"></i>
                </div>
              </div>
            </a>
          </div>
          {% else %}
            <div class="col-lg-3 col-6">
              <a href="{% url 'customer_list_pos' %}">
              <!-- small card -->
                  <div class="small-box bg-light dashboard_menu_item">
                  
                      <div class="inner text-secondary">
                          <h3>Customers</h3>

                          <p class="ml-4">{{count_customers}}</p>
                      </div>
                      <div class="icon">
                      <i class="fas fa-users"></i>
                      </div>
                  </div>
              </a>
            </div>

            <div class="col-lg-3 col-6">
              <!-- small card -->
              <a href="{% url 'view_my_orders' %}">
                <div class="small-box bg-light dashboard_menu_item">
                  
                  <div class="inner text-secondary">
                    <h3>My Bills</h3>
    
                    <p class="ml-4">{{my_invoices_count}}</p> 
                  </div>
                  <div class="icon">
                    <i class="fas fa-shopping-basket"></i>
                  </div>
                </div>
              </a>
            </div>
            {% if session_time.open_time and session_time.closing_time == None %}
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small card -->
                {% if config.QUICK_SALE == 'yes' %}
                <a href="{% url 'add_customer_to_order' %}">
                {% else %}
                <a href="{% url 'pos_dashboard' %}">
                {% endif %}
                  
                <div class="small-box bg-light dashboard_menu_item">
                <div class="inner text-secondary">
                    <h3>Register Sale<sup style="font-size: 20px"></sup></h3>
 
                </div>
                <div class="icon">
                    <i class="fa fa-cash-register"></i>
                </div>
                </div>
            </a>
            </div>
            {% endif %}

            <!-- ./col -->
            <div class="col-lg-3 col-6">
            <!-- small card -->
            <a href="{% url 'reports_dashboard' %}">
              <div class="small-box bg-light dashboard_menu_item">
                <div class="inner text-secondary">
                  
                  <p><h3>Reports<sup style="font-size: 20px"></sup></h3></p> 
                </div>
                <div class="icon">
                  <i class="fa fa-chart-bar"></i>
                </div>
              </div>
            </a>
            </div>
            <!-- ./col -->
     
        <!-- ./col -->
        {% if request.user.is_admin == True %}
       
          <div class="col-lg-3 col-6">
            
            <a href="{% url 'view_all_orders' %}">
            <div class="small-box bg-light dashboard_menu_item">
                <div class="inner text-secondary">
                <h3>All Bills</h3>
                <p class="ml-4">{{all_invoices_count}}</p>
                </div>
                <div class="icon">
                <i class="fa fa-file-invoice"></i>
                </div>
            </div>
            </a>
        </div>
        <!-- ./col -->
        {% endif %}

        <div class="col-lg-3 col-6">
           
            <a href="{% url 'expense_list' %}">
            <div class="small-box bg-light dashboard_menu_item">
                <div class="inner text-secondary">
                <h3>Expenses</h3>
                <p class="ml-4">{{quotations_count}}</p>
                
                </div>
                <div class="icon">
                <i class="far fa-question-circle"></i>
                </div>
            </div>
            </a>
        </div>

        {% if request.user.admin == True %}
          <div class="col-lg-3 col-6">
            
            <a href="{% url 'refunds_list' %}">
              <div class="small-box bg-light dashboard_menu_item">
                  <div class="inner text-secondary">
                  <h3>Refunds</h3>

                  <p class="ml-4">{{refunds_count}}</p>
                  </div>
                  <div class="icon">
                  <i class="fa fa-wallet"></i>
                  </div>
              </div>
            </a>
          </div>
        {% endif %}
         

        {% if request.user.is_admin == True %}
            <div class="col-lg-3 col-6">
              <!-- small card -->
              <a href="{% url 'inventory_dashboard' %}">
                <div class="small-box bg-light dashboard_menu_item">
                  <div class="inner text-secondary">
                    <p> <h3>Back Office<sup style="font-size: 20px"></sup></h3> </p>
                  </div>
                  <div class="icon">
                    <i class="far fa-building"></i>
                  </div>
                </div>
              </a>
            </div>
            <!-- ./col -->
            <!-- ./col -->
        {%endif%}

        <div class="col-lg-3 col-6">
          <!-- small card -->
          <!-- href="{% url 'clock_out' %}" -->
          <a href="#"  data-target="#clockoutModal" data-toggle="modal">
            <div class="small-box bg-light dashboard_menu_item">
              <div class="inner text-secondary">
                <p> <h3>Clock Out<sup style="font-size: 20px"></sup></h3> </p>
              </div>
              <p class="ml-4">Clocked in at:  {{open_time}}</p>
              
              <div class="icon">
                <i class="far fa-clock"></i>
              </div>
            </div>
          </a>
        </div>
        {% endif %}
        
        </div>
    </div>
    <!-- /.row -->
    <!-- Small Box (Stat card) -->
{% endblock %}





