{% load crispy_forms_tags %}
<form method="post" data-url="{% url 'customer_delete' customer.id %}" class="delete-form">
	{% csrf_token %}
	<div class="block block-themed block-transparent mb-0">
			<div class="block-header bg-primary-dark">
				<h5 class="modal-title block-title ">Delete Customer</h5>
					<div class="block-options">
						<button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-fw fa-times"></i>
						</button>
						<span aria-hidden="true"></span>
					</div>
		</div>
	</div>
		<div class="modal-body">
		<p class="lead"> Are you sure you want to delete this customer: <strong>{{customer.name}}</strong></p>
		</div>
		<div class="modal-footer block-content block-content-full text-right border-top">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
		<button type="submit" class="btn btn-danger">Yes</button>
		</div>
</form>
