{% for customer in customers %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ customer.name }}</td>
    <td>{{ customer.address }}, {{customer.country}}</td>
    <td>{{ customer.phone_number }}</td>
    <td>{{ customer.email }}</td>
    <td>{{ customer.total_quotations }}</td>
    <td class="text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-light show-form-update" data-url="{% url 'customer_update' customer.id %}" data-toggle="tooltip" title="Edit {{ supplier.name }} ">
                <a class="fa fa-fw fa-pencil-alt"></a>
            </button>
            <button type="button" class="btn btn-sm btn-light show-form-delete" data-url="{% url 'customer_delete' customer.id %}" data-toggle="tooltip" title="Delete {{ supplier.name }}">
                <a class="fa fa-fw fa-times"> </a>
            </button>
        </div>
    </td>
  </tr>
{% endfor %}
