{% load crispy_forms_tags %}
<form method="post" data-url="{% url 'customer_create_pos' %}" class="create-form">
	{% csrf_token %}
	<div class="modal-header bg-success">
        <h4 class="modal-title ">ADD NEW CUSTOMER</h4>
    </div>
		<div class="modal-body">
		{{form|crispy}}
		</div>
		<div class="modal-footer block-content block-content-full text-right border-top">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">add customer</button>
		</div>
</form>
